<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/css/main.css" rel="stylesheet" />
    <title>Hello World!</title>
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"><span class="usernamemenu" sec:authentication="principal.name"></span></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cashback">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/account">Аккаунт</a>
            </li>

            <li  class="nav-item" sec:authorize="hasRole('ROLE_admin')" >
                <a class="nav-link" href="/adminpanel">Админ панель</a>
            </li>

            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-success my-2 my-sm-0" type="submit" value="Выйти"/>
                </form>
            </li>
        </ul>

    </div>
</nav>



<div class="container">
    <div class="main-container">
        <form th:action="@{/changepassword}" th:method="post">
            <div class="form-group row">
            <label th:for="name" class="col-2 col-form-label"> Логин </label>
                <div class="col-4">
            <input th:id="name" type="text" class="form-control"   th:value="${user.name}" />
                </div>
            </div>
            <div class="form-group row">
            <label class="col-2 col-form-label" th:for="email">Почта</label>
                <div class="col-4">
            <input th:id="email" type="email"  class="form-control"  th:value="${user.email}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" th:for="password">Пароль</label>
                <div class="col-4">
                    <input th:id="password" type="password"  class="form-control" th:type="password" th:name="updatepassword"  placeholder="Введите новый пароль" />
                </div>
            </div>
            <input  class="btn btn-danger" type="submit" value="Изменить пароль"/>
        </form>


        <form th:action="@{/delete}" method="get">
            <input class="btn btn-danger" type="submit" value="Удалить аккаунт"/>
        </form>

    </div>
</div>
</body>
</html>