<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h2 th:inline="text"> Role: <span sec:authentication="principal.authorities">   </span> </h2>

<div sec:authorize="hasRole('ROLE_user')">
    This content is only shown to users.
</div>
<div sec:authorize="hasRole('ROLE_admin')">
    This content is only shown to admin.
</div>





<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>